.main .right1 .rightTop1 {
    width: 100%;
    height: auto !important;
    background-color: aliceblue;
    padding: 10px 15px ;
    font-size: 1rem;
    font-weight: bold;
}

.main .right1 .rightTop1 .depName  {
    font-size: 1rem;
    line-height: 37px;
}
.main .right1 .leader li {
    float: left;
    font-size: 17px;
    color: #116ca0;
    cursor: pointer;
    margin-right: 14px;
    margin-top: 5px;
    padding: 3px 6px;
}
.main .right1 .leader>span:hover {
    color: #183b86
}
/* 评价内容列表 */
.right1 .evaluationContent {
    width: 100%;
}
.right1 .paginationBox {
    margin: 20px ;
    text-align: center;
}
.totalEvaluate {
    height: 50px;
    background-color: #f9fafb;
    font-size: 1rem;
    line-height: 35px;
    padding: 10px 20px;
    margin-top: 5px;
    box-shadow: 0 1px 2px #778a97;

}
.totalEvaluate>span {
    font-size: 1.3rem;
    color: rgb(131, 58, 58);
}
.chartsBox {
  float: left;
  width: auto;
  height: 23rem;
  background-color: rgb(253, 254, 255);
  margin: 10px 2px;
  box-shadow: 0 1px 1px #778a97;
}
.activeClass {
    padding: 6px 0;
    color: #409EFF;
    border-bottom:2px solid #409EFF;
}
.tabContent {
    float: left;
    width: 100%;
}

.participationTop .collectResult {
    width: 100%;
    height: 50px;
    font-size: 19px;
    line-height: 35px;
    padding: 7px 20px 0px 6px;
    margin-top: 5px;
    background-color: #f9fafb;

    box-shadow: 0px 1px 2px #778a97;

}
.participationTop .collectResult p {
    float: left;
    font-size: 19px;
    color: #555;
    margin: 6px 13px;
}
.collectResult .spanClass {
    font-size: 1rem;
    color: rgb(131, 58, 58)
}
.spanClass{
    font-size: 0.1rem;
    color: rgb(131, 58, 58);
}
.participationTop .collectRate {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color:rgb(242, 250, 255);
    box-shadow: 0 1px 2px #778a97;

}
.collectRate {
    width: 100%;
    height: 100%;
    padding: 10px 2px;
    margin: 5px 0;
    background-color: #fff;
    box-shadow: 0 1px 2px #778a97;
}
.collectResult {
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    margin-top: 5px;
    background-color: #F8F8F8;
    box-shadow: 0 1px 2px #778a97;
}

.participationTop .collectRate >span {
    padding:15px;
    font-size: 16px;
}
.participationTop .collectRateContent {
    margin: 5px 10px;
}
.fullFinishedList {
    width: 845px;
    height: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9fafb;
    box-shadow: 0 1px 2px #778a97;
}
.fullFinishedList .fullFinishedTit {
    font-size: 18px;
    margin: 5px 15px;
}
.fullFinishedList .fullFinishedLi {
    width: 100%;
    height: 20px;
    margin: 7px 0px;
    padding: 1px 2%;
}
.fullFinishedList .fullName {
    float: left;
    width: 23%;
    font-size: 16px;
    padding-left: 5px;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(233, 233, 243);
}
.fullFinishedList .collectRateContent {
    display:inline-block;
    width: 76%;
    height: 19px;
    margin-left: 1%;
}
.participationEchartsBox {
    float: left;
    height: 100%;
    width: 100%;
}

.participationEchartsContent .joinTitle {
    display: inline-block;
    font-size: 1rem;
    margin: 10px;
}
.participationEchartsContent li {
    float: left;
    margin: 5px;
}

.participationLeft {
    width: 225px;
    min-height: 400px;
    background-color: #f9fafb;
}
.participationCenter {
    width: 395px;
    height: 400px;
    background-color: rgb(253, 250, 255);
    box-shadow: 0px 1px 4px #778a97;
}
.participationRight {
    width: 225px;
    min-height: 400px;
    background-color: #f9fafb;

}
